.black{
    background-color: black;
    color: white;
}
.brown{
    color: white;
    background-color: brown;
}
.red{
    color: white;
    background-color: red;
}
.orange{
    color: white;
    background-color: orange;
}
.yellow{
    color: white;
    background-color: yellow;
}
.green{
    color: white;
    background-color: green;
}
.blue{
    color: white;
    background-color: blue;
}
.violet{
    color: white;
    background-color: violet;    
}
.gray{
    background-color: gray;
}
.golden{
    color: white;
    background-color: gold;
}
.silver{
    color: white;
    background-color: silver;
}